h1 a {
	color: #000000;
    font-size: 36pt;
    text-decoration: none;
    text-align: center;
}
.page_header {
	background-color: #05B8CC;
	 margin-top: 0;
    padding: 20px 20px 20px 40px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    text-align: center;
}

